.descriptionContainer {
  padding: 0.5rem 1rem 5rem;
}

.company {
  font-weight: 700;
  color: var(--orange);
  margin-bottom: 0.5rem;
}

.productTitle {
  color: var(--dark-grayish-blue);
  font-weight: 700;
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.description {
  /* color: var(--very-vark-blue); */
  font-weight: 400;
  color: var(--black);
  opacity: 0.65;
  line-height: 1.5;
  font-size: 0.95rem;
}

@media (min-width: 720px) {
  .company {
    font-size: 1.1rem;
    letter-spacing: 1.2px;
  }

  .productTitle {
    font-size: 2rem;
  }

  .description {
    max-width: 400px;
  }
}

@media (min-width: 1000px) {
  .company {
    margin-bottom: 1rem;
  }

  .productTitle {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
  }

  .description {
  max-width: 800px;
  }
}
