.nav {
  display: none;
}

@media (min-width: 1000px) {
  .nav {
    display: block;
  }

  .list {
    list-style: none;
    margin: 0 0 0 3rem;
    padding: 0;
    display: flex;
    gap: 2rem;
    font-size: 0.9rem;
  }

  .list li {
    line-height: 7;
    border-bottom: 5px solid transparent;
    transition: 0.15s ease;
  }

  .list li:hover {
    border-bottom: 5px solid var(--orange);
  }
}
