.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: relative;
}

.menuIcon img {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.cartIcon {
  margin-right: 1.3rem;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
}

.avatar:hover {
  border: 2px solid var(--orange);
}

.cursorPointer {
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

@media (min-width: 1000px) {
  .menuIcon {
    display: none;
  }

  .header {
    border-bottom: 0.5px solid var(--grayish-blue);
    padding: 0 0 0;
    margin-bottom: 4rem;
  }

  .cartIconContainer {
    position: relative;
  }

  .cartIconContainer::after {
    content: attr(data-count);
    position: absolute;
    background: var(--orange);
    color: var(--white);
    padding: 0.1rem 0.3rem;
    border-radius: 50%;
    top: -10px;
  }

  .alignCenter {
    gap: 2rem;
  }
}
