.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.menuIcon {
  margin: 0 1rem 0 0;
  cursor: pointer;
}

.cartIcon {
  margin-right: 1.3rem;
}

.alignCenter {
  display: flex;
  align-items: center;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.cursorPointer {
  cursor: pointer;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
